<div id="mytree">
  <div class="tree-toolbar">
    <div class="left-section">
      <button class="expand-all" title="Expand All">[[+]]</button>
      <button class="collapse-all" title="Collapse All">[[-]]</button>
    </div>
    <div class="right-section">
      <button class="exit-treeview" title="Exit">X</button>
    </div>
  </div>
  <div class="search-bar">
    <input type="text" class="search" placeholder="Looking for something specific? Search here..."/>
  </div>
  <div class="tree-content"></div>
</div>