<div id="mytree">
  <button class="exit-treeview" title="Exit">&times;</button>
  <div class="search-bar">
    <input type="text" class="search" placeholder="Looking for something specific? Search here..."/>
  </div>
  <div class="tree-content"></div>
</div>