<div id="mytree">
  <div class="tree-toolbar row fixed">
    <div class="cell left-section">
      <button class="expand-all" title="Expand All">[[+]]</button>
      <button class="collapse-all" title="Collapse All">[[-]]</button>
    </div>
    <input type="text" class="search cell" placeholder="Looking for something specific? Search here..."/>
    <div class="cell right right-section">
      <button class="exit-treeview" title="Exit">X</button>
    </div>
  </div>
  <div class="tree-content"></div>
</div>