.node {
  list-style: none;
  padding: 0.5rem 0;
  cursor: pointer;

  > .icon:before {
    content: "[.]";
    font-family: monospace;
    vertical-align: top;
    display: inline-block;
    width: 1.5rem;
  }

  &[data-expanded="false"] {
    > .icon:before {
      content: "[+]";
    }
    
    > ul {
      display: none;
    }
  }

  &[data-expanded="true"] {
    > .icon:before {
      content: "[-]";
    }
    
    > ul {
        display: block;
    }
  }
  
  .key {
    display: inline-block;
    padding: 0 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    
    &.selected {
      background-color: cyan;
      box-shadow: 0 0 3px #ddd;
    }
  }
  
  .value {
    color: gray;
    
    &:before {
      content: " = ";
    }
  }

  ul {
    padding-left: 2rem;
  }
}

#mytree {
  border-radius: 0 15px 15px 0;
  background-color: #C8D9EA;
  position: fixed;
  left: 0;
  top: 1rem;
  bottom: 1rem;
  width: 25rem;
  z-index: 100000;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);

  button {
    cursor: pointer;
    background:#35b128; /*the colour of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color: #f3f3f3;
    font-size: 1.1em;
    margin: 0 0.5rem;
    font-family: monospace;
    height: 2.5rem;
    outline: none;
    width: 3rem;
    padding: 0 !important;

    &:hover {
      opacity: 0.8;
      -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
      -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
      box-shadow: 0 0 1px rgba(0,0,0, .75);
    }
  }

  .exit-treeview {
    background-color: #D20404;
    margin-bottom: 0.2rem;
    font-size: 2rem;
    position: absolute;
    right: -1.5rem;
    top: -0.5rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    line-height: 0.5rem;
  }

  .search-bar {
    padding: 0.5rem;
    height: 3rem;

    .search {
      padding-left: 0.5rem;
      height: 2.5rem;
      border-radius: 8px;
      outline: none;
      width: 80%;
    }
  }


  .tree-content {
    position: absolute;
    width: 100%;
    top: 4rem;
    bottom: 1rem;
    overflow-y: auto;
    overflow-x: auto;

    > ul {
      padding-left: 1rem;
    }
  }
}


/*
  Apply .cell to children of .row and they will behave like table cells
*/

.row {
  display: table;
  width: 100%;
  height: 2.625rem;
  font-size: 0.84rem;
  border-collapse: collapse;

  &.fixed {
    table-layout: fixed;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;

    &.left {
      text-align: left;
      float: none;
    }

    &.right {
      text-align: right;
      float: none;
    }
  }
}
